div.shark {
  position: relative;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #E7E7E7;
  .body {
    display: flex;
    padding-left: 4px;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    background-color: #3050a0;
    padding-left: 4px;
    color: white;
    border-bottom: 2px solid black;
  }
}

.divResult {
  margin: 4px;
  padding: 4px;
  flex:0 1 46%;
  background-color: lightgray;
  border-radius: 8px;
  border:2px solid #2060a0;
}

#btnToggle {
  margin-top: 8px;
}
