<div class="shark" [@shark]="sharkState">
  <div class="header">Shark</div>
  <div class="body">This is the body</div>
</div>

<button id="btnToggle" mat-raised-button color="primary" (click)="toggleAnimation()">Change Left</button>
<hr>
<button id="btnToggle" color="primary" mat-raised-button (click)="addTestResult()">Add test result</button>
<div style="display: flex; flex-flow: row wrap">
  <div class="divResult" @lstAnimation *ngFor="let testResult of testResults">{{testResult}}</div>
</div>
