<div class="row" style="font-family: lato;">
  <strong>Add Worker</strong>
  <hr style="border: 1px solid #a0a0a0">
</div>


<form [formGroup]="workersForm" (ngSubmit)="submit()" novalidate>
  <div class="container" style="height:300px">
    <div class="row" style="justify-content: space-between; width:500px">
      <md-form-field>
        <input type="text" role="textbox" mdInput placeholder="First name" formControlName="firstName">
      </md-form-field>

      <md-form-field>
        <input mdInput type="text" placeholder="last name" tabindex="0" formControlName="lastName">
      </md-form-field>
    </div>

    <div class="row">
      <md-form-field>
        <input mdInput placeholder="Salary" type="number" formControlName="salary" #salary>
      </md-form-field>
    </div>

    <div class="row">
      <md-form-field>
        <input mdInput type="text" role="textbox" placeholder="email address">
      </md-form-field>
    </div>

    <div class="row">
      <md-radio-group labelPosition="before" name="udi" formControlName="notification">
        <md-radio-button value="email" color="primary" style="margin-right:20px">Email</md-radio-button>
        <md-radio-button value="text" color="primary">Text</md-radio-button>
      </md-radio-group>
    </div>

    <div class="row">
      <button md-raised-button color="primary">Submit Form</button>
      <button md-raised-button (click)="setValues()">Set Default Values</button>
    </div>

  </div>
</form>
<div style="margin-top:30px">
  Values of the form: {{workersForm?.value | json }}
  {{workersForm.invalid}}
</div>
<div>
  <ng-template ad-host></ng-template>
</div>
