<h4>Better *ngFor</h4>
<p>This is a better *ngFor. 1 list is using trackBy and the other is not. just look at the source at the F12.<br>
This is very usefull when building lists from http calls.</p>
<button mat-raised-button color="primary" (click)="updateList()">Add Item</button>

<div style="display: flex; justify-content: flex-start">
  <div style="margin-right: 50px">
    <div *ngFor="let item of students">{{'name is ' + item.name + ', id = ' + item.id }}</div>
  </div>
  <div>
    <div *ngFor="let item of students; trackBy getId">{{'name is ' + item.name + ', id = ' + item.id }}</div>
  </div>
</div>

