<div class="row">
  <div class="col-sm-6">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
      <th>first name</th>
      <th>last name</th>
      <th>age</th>
      <th>street</th>
      <th>number</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentsList">
        <td>{{student?.name}}</td>
        <td>{{student?.last}}</td>
        <td>{{student?.age}}</td>
        <td>{{student?.address?.street}}</td>
        <td>{{student?.address?.streetNumber}}</td>
      </tr>
    </tbody>
  </table>

</div></div>
<button class="btn btn-sm" (click)="divStatus=divStatus==='0'?'1':'0'">open Div</button>
<div class="big" *ngIf="divStatus==='1'" [@divClick]="divStatus" contenteditable="true"
style="width:300px;height:100px;overflow: hidden; border:2px solid #3070a0;">
Udi Mazor
</div>
