<ui-child>
  <ng-template #content>
    This is content - it will be catched from the child component with <strong>contentChild</strong>
  </ng-template>
</ui-child>
<hr>

<selectors>
  <ng-template #content1>This is content 1</ng-template>
  <ng-template #content2>This is content 2</ng-template>
  <ng-template #content3>This is content 3</ng-template>
</selectors>


<host-listener>
  <div #divAsContentRef>This is div as templateRef</div>
</host-listener>


<div class="apple">
  this is the father
</div>