<div class="form-wrapper">
  <form [formGroup]="frmStudent" novalidate>
    <mat-form-field>
      <input type="text" matInput formControlName="name" placeholder="Student name">
      <mat-hint>Please insert the student first name</mat-hint>
      <mat-error>The student name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput formControlName="last" placeholder="Student last name">
      <mat-hint>Please insert the student last name</mat-hint>
      <mat-error>The student last name is required</mat-error>
    </mat-form-field>
    <jsonInput formControlName="jsonControl"></jsonInput>
    <mat-form-field numberInput>
      <input matInput type="number" placeholder="Student's age" formControlName="age">
      <mat-error>The age is not in the valid range</mat-error>
      <mat-hint>Please Enter the student age</mat-hint>
    </mat-form-field>
    <ng-container formArrayName="degrees" style="display: flex; flex-flow: row wrap">
      <div *ngFor="let d of degrees; let i = index" style="display: flex; justify-content: space-between">
      <mat-form-field style="flex:1 0">
        <input matInput type="text" [formControlName]="i" placeholder="Degree">
        <mat-hint>Insert the student's degree</mat-hint>
      </mat-form-field>
      <button mat-icon-button (click)="addDegree()" style="flex: 0 1 30px">
        <i class="fa fa-plus"></i>
      </button>
    </div></ng-container>
    <button type="submit" (click)="addStudent()" mat-raised-button color="primary">Add Student</button>
  </form>
</div>
{{frmStudent.value | json}}