div.simple {
  width: 100px;
  height: 60px;
  border: 2px solid darkslategray;
  box-sizing: border-box;
  border-radius: 10px;
  transform: translateX(20px);
}
span{
  display: inline-block;
  cursor: pointer;
  margin:0 3px;
}