<div class="button-row">
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu [overlapTrigger]="false" #menu="matMenu">
  <button role="link" mat-menu-item  routerLink="workers/list">Workers List</button>
  <button role="link" mat-menu-item routerLink="workers/add-worker">Add Worker</button>
  <button mat-menu-item routerLink="workers/add-addresses">Dynamically add Addresses</button>
  <button mat-menu-item routerLink="workers/checkbox">Checkbox Implementation</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="toolbox">Toolbox</button>
<mat-menu [overlapTrigger]="false" #toolbox="matMenu">
  <button role="link" mat-menu-item routerLink="/toolbox/layout">layout</button>
  <button role="link" mat-menu-item routerLink="/toolbox/typescript">typescript</button>
</mat-menu>
<button mat-button>lists</button>
</div>

<router-outlet></router-outlet>
