<div class="page-header">
  Add Addresses Dynamically
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <form [formGroup]="workersForm" novalidate>
        <div formArrayName="address">
          <div *ngFor="let item of address.controls; let i = index" [formGroupName]="i" style="margin-bottom:50px">
            <div class="form-group">
              <label [attr.for]="'addressType' + i" class="control-label">Address Type: </label><br>
              <label class="radio-inline"><input formControlName="addressType" type="radio" value='home' name="addressType">Home</label>
              <label class="radio-inline"><input formControlName="addressType" type="radio" value='work' name="addressType">Work</label>
              <label class="radio-inline"><input formControlName="addressType" type="radio" value='other' name="addressType">Other</label>
            </div>
            <div class="form-group">
              <label class="control-label" [attr.for]="'street' + i">Street Name: </label>
              <input type="text" class="form-control input-sm" [attr.id]="'street' + i" formControlName='street' placeholder="Enter your street address">
            </div>
            <div class="form-group">
              <label [attr.for]="'number' + i" class="control-label">Street Number:</label>
              <input type="number" [attr.id]="'number'+i" formControlName="streetNumber" class="form-control input-sm" placeholder="Enter your housr number">
            </div>
            <div class="form-group">
              <label [attr.for]="'city' + i" class="control-label">City:</label>
              <input type="text" formControlName="city" [attr.id]="'city'+ i" class="form-control input-sm" placeholder="Enter your city name">
            </div>
          </div>
        </div>
        <button class="btn btn-sm btn-primary" (click)="addAddress()">Add another address</button>
      </form>
    </div>
  </div>
</div>
{{ workersForm.value | json}} <br> street errors: {{workersForm.get('address.0.streetNumber').errors | json}}


<div>1
  <div *ngFor="let worker of workers">{{worker}}</div>
</div>