<div class="row" style="font-family: lato">
  <div class="col-xs-6" style="margin:30px 0 12px 0">
    <strong>Workers List</strong>
    <hr style="border: 1px solid #a0a0a0">
  </div>
</div>

  <div style="display: flex;margin:10px">
    <div style="flex: 0 0 600px">
      <table border="1">
        <thead>
          <th>First name</th>
          <th>Last name</th>
          <th>Salary</th>
          <th>Birth date</th>
          <th>City</th>
          <th>Street</th>
          <th>Country</th>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers | orderBy : 'firstName'; let odd=odd" [class.odd]="odd">
            <td>{{worker?.firstName}}</td>
            <td>{{worker?.lastName}}</td>
            <td>₪ {{worker?.salary | number}}</td>
            <td>{{worker?.birthDate| date:'dd/MM/yyyy'}}</td>
            <td>{{worker.address.city}}</td>
            <td>{{worker.address.building}}</td>
            <td>{{worker.address.country}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <a role="link" routerLink="/workers/add-worker" md-raised-button color="primary">Add worker - Reactive</a>
  </div>
</div>

<!-- <md-table #table [dataSource]="workersDataSource">
    <ng-container mdColumnDef="firstName">
        <md-header-cell *mdHeaderCellDef>first name</md-header-cell>
        <md-cell *mdCellDef="let worker"> {{worker.firstName}} </md-cell>
      </ng-container>  
</md-table> -->
