@import './../../../variables.scss';
table {
  font-family: lato;
  border-collapse: collapse;
  thead{
    color:white;
    background: linear-gradient(lighten($mainColor,10%),darken($mainColor, 10%));
  }
  tr:hover {
    background-color: #e0e0e0;
  }
  td,
  th {
    padding: 3px 10px;
  }
}

.odd {
  background-color: #f5f5f5;
}
