<div class="container">
      <form [formGroup]="checkboxForm">
        <label>
          <input class="form-control input-sm" [formControlName]="'gender'" type="checkbox">
          <span class="label-text">am I true?</span>
        </label>
      </form>
      {{checkboxForm.controls.gender.value }}

</div>

<!-- // before -->
<!-- <div class="gw-test">
    <div class="test-inner">
        <div class="test">1</div>
        <div class="test">2</div>
        <div class="test">3</div>
    </div>
  </div>
   -->

<!-- // after -->
<div class="gw-test">
  <div class="test-inner">
    <app-test></app-test>
      <!-- <div class="test">1</div>
      <div class="test">2</div>
      <div class="test">3</div> -->
  </div>
</div>

<!-- <app-test></app-test> -->