/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./variables.scss";
body {
  font-family: lato;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background: linear-gradient(lighten($mainColor, 0.9), $mainColor); // background: linear-gradient(#6080a0, #204090);
  color: #fff;
}

.mat-toolbar {
  // background: linear-gradient(#6080a0, #204090);
  background: linear-gradient(lighten($mainColor, 0.9), $mainColor);
  font-family: lato;
  color: #fff;
  font-size: 16px;
  a {
    margin: 0 25px 0 0;
    &:hover {
      color: #ffd740;
      cursor: pointer;
    }
  }
}

.mat-focused .mat-form-field-placeholder {
  color: $mainColor;
}

.mat-form-field-ripple {
  background-color: $mainColor;
}

body {
  margin: 0;
}

div.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 10px;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

@media screen and (max-Width:919px) {
  .hidden-md {
    display: flex !important;
    flex: 1 0 100%;
  }
}

@media screen and (min-Width:920px) {
  .hidden-md {
    display: none !important;
  }
}
